<!doctype HTML>
<html>
  <head><title>bad url format</title></head>
  <body>
       <p>
         <br>you did not enter your url with the right format.<br>
         </br>google wich has the URL 
          <a href="https://www.google.com">https://www.google.com</a>
         </br>
         </br>should be entered with this format</br>
         </br></br>
         <br>
          <a href="new/https://www.google.com">https//jbrierty-urlshortener.herokuapp.com/new/https://www.google.com</a>
         <br>
         <br><br>
         <br>you entered<br>
         <br>https//jbrierty-urlshortener.herokuapp.com/new/{{badurl}}</br>
         <br><br>
         <br>DO NOT ENTER A CODE FOR A URL YOU DID NOT ENTER!!!<br>
       </p>
  </body>
</html>