<!doctype HTML>
<html>
  <head><title>bad url format</title></head>
  <body>
       <p>
         <br>You did not enter your url with the right format.<br>
         <br><br>
         </br>As an example, Google which has the URL https://www.google.com </br>
         </br>can be added to our database by pasing a URL with this format</br>
         </br></br>
         <br>https//jbrierty-urlshortener.herokuapp.com/new/https://www.google.com<br>
         </br></br>
         </br>After you add a URL to the our database you will be given a new URL to return to that sight.</br>
         </br>You can get back to Google by going to<br>
         <br> https//jbrierty-urlshortener.herokuapp.com/2</br>
         <br><br>
         <br>Right now this sight only accepts URLs that start with "https://www." or "http://www." and end with ".com"<br>
         <br>you entered<br>
         <br>https//jbrierty-urlshortener.herokuapp.com/new/{{badurl}}</br>
       </p>
  </body>
</html>