<!doctype HTML>
<html>
  <head><title>Instructions</title></head>
  <body>
       <p>
         <br>You can pass a URL as a parameter and receive a shortened URL in the JSON response.</br>
         <br>If you pass an invalid URL that doesn't follow the valid http://www.example.com format,
         the JSON response will contain an error instead.</br>
         </br></br>
         <br>https://www.google.com should be entered with this format<br>
         <br>https//jbrierty-urlshortener.herokuapp.com/new/https://www.google.com<br>
         <br><br>
         <br>DO NOT ENTER A CODE FOR A URL YOU DID NOT ENTER!!!<br>
       </p>
  </body>
</html>